@using global::App.CommunicationServices.Revit
@using global::App.CommunicationServices.Revit.EventArgs
@using global::App.DML
@using global::App.Services
@inject ApplicationObject ApplicationObject
@inject RevitDataService RevitDataService

<h1>RevitDataTable</h1>

<p>Document file name: @ApplicationObject?.ActiveDocument?.Title</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in RevitDataService?.GetAllBaseEntities()!)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @(item.TypeName ?? @"unknown")
            </td>
            <td>
                @((item as Bar)?.Category?.Name ?? @"no category")
            </td>
        </tr>
    }
    </tbody>
</table>

<button class="btn btn-primary" @onclick="AllocateFoos">Allocate Foos</button>
<button class="btn btn-primary" @onclick="AllocateBars">Allocate Bars</button>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        
        ApplicationObject.DocumentDescriptorChanged += DocumentDescriptorChanged;

        await InitRevitDataServiceAsync();
    }

    private async Task InitRevitDataServiceAsync()
    {
        if (ApplicationObject.ActiveDocument is null)
        {
            return;
        }

        var initTask = RevitDataService?.Initialization;

        if (initTask is not null)
        {
            await initTask;
        }
    }

    private async void DocumentDescriptorChanged(object sender, DocumentDescriptorChangedEventArgs e)
    {
        await InitRevitDataServiceAsync();        
        await InvokeAsync(StateHasChanged);
    }

    private void AllocateFoos()
    {
        RevitDataService?.AllocateFoosAsync();
    }

    private void AllocateBars()
    {
        RevitDataService?.AllocateBarsAsync();
    }

    public void Dispose()
    {
        ApplicationObject.DocumentDescriptorChanged -= DocumentDescriptorChanged;
    }
}